

.menu li{
    
    list-style: none; /*La lista va a desaparecer*/
    background-color:#466372;
    color: rgb(255, 255, 255);
    display: inline-block;
    
    /*margin: 25px; /* Aplica a los 4 lados, top, down, rigth, left*/
    margin: 5px 15px; /*El primer dijito aplica a ARRIBA y Abajo, El 2do numero  a la IZQ  y Derecha*/
    /*margin: 10px 20px 30px 50px;/*Arriba, derecha, abajo,izquierda SENTIDO HORARIO*/

    /*DE LA MISMA MANERA EXISTE UN padding en los 4 sentidos */

    border: 1px dashed black;
    padding: 5px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20;
    
}
.menu{
    background: #432818;
    padding: 5px 15px;
    
    
}


.menu li:hover{
    background-color: #ffb703;

    color: black;

}

h1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

body{
    text-align: center;
    background-color:#a98467;
}

p{
    background-color: #e29578;
    padding-left: 44px;
    
}


/*VAMOS A DAR ESTILOS A AGRUPAR*/
.agrupar{
    border: 1px solid black;
    background-color: #eddea4 ;
    width: 900px;
    margin: 20px auto;
}

.cabecera{
    color: black;
    background-color: azure;
    text-align: center;
    border: 5px solid #bb9457;
    padding: 20px;
}

.seccion{
    width: 600px;
    margin: 17px;
    float: left;
    border: 2px solid black;
}

#articulo1, #articulo2{
    background: #bb9457;
    border: 10px solid #ffe6a7;
    padding: 20px;

}

article footer{
    text-align: right;
    color: aliceblue;
}

.referencias{
    width: 190px;
    float: right;
    margin: px 60px;
    padding-left: 2px;
    background-color: #ffe6a7;

}

.pie{
    clear: both;
}

blockquote{
    border: 1px solid black;
    padding: 5px;
    background:#99582a ;
    width: 130px;
}

img{
    width: 250px ;
    height: 75px;
    margin: auto auto;
   
}