*{
  background-color: rgb(120, 102, 87);
  
  font-family: Courier New, monospace;
  
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.calculadora{
   margin: 30px;
    background-color: rgb(204, 182, 155);
    display: grid;
    grid-template-columns:  repeat(4, 75px);
    /*grid-template-rows: 150px 75px 75px 75px 75px 75px; */
    grid-template-rows: 150px repeat(5,75px);

    gap: 7px; /* Espacio entre botones */

    padding: 15px; /* Espacio entre bordes al contenido */
    border-radius: 10px;
    border: 1px solid black;
    
    /*Puedecdarse en los cuatro lados*/
    box-shadow: 18px 18px 5px 5px #00000033;

}

.pantalla{
    
    background-color: rgb(223, 154, 129);
    grid-column: span 4;
    padding-top: 50px;
    padding-right: 12px;
    text-align: end;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 35px; 
    box-shadow: 0px 0px 0px 7px #00000033;  
    font-size: 50px;
    font-weight: bold;
    border: 1px solid rgb(72, 71, 83);
    
}

.col-2{
    grid-column: span 2;
    border-radius: 20px;
}

button{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(165, 160, 153);
    font-size: 15px;
    border: none;
    font-weight: bold;
    border: 1px solid rgb(112, 107, 107);

    box-shadow: 5px 5px 5px 5px #00000033;  
    
    /* Espacio entre elementos me da el MARGIN */
}

button:active{
    background-color: rgb(222, 179, 122);
}



